body{
    /* background-color: whitesmoke; */
    background-image: url('background/background.jpg');
    font-family: 'Merriweather', serif;
    margin: 0;
    width: 100%;
    color:antiquewhite;
    font-size: 40px;
    
}

.ham{
    display: none;
}

@media only  screen and (max-width: 1000px){
    
       .skills-list{
           display: flex;
           flex-direction: column;
           margin-top: 100px;
       }
        .ham{
            display: block;
            border: 0;
            background-color: transparent;
            color:antiquewhite;
            font-size: 30px;
        }
        .navigation{
             display: flex;
         
        }
        .nav {
            display: none;
            margin:0;
    
        } 
        .button{
            font-size: 10px;
        }
        
        #slideDownWork{
            display: none;
        } 
         section.project-carousel{
            display: none;
        } 
       
        
         .reach{
             font-size: larger;
         }
          .socials{
              display:flex;
              /* flex-direction: column; */
              flex-wrap: wrap;
              width:50%;
            }
           .photo{
               display: none;
           }
        
} 

/* .first-half {

    font-size: 40px;
} */

.AboutMe{
    display: flex;
    justify-content: space-between;
    height: 450px;
    
}
.intro{
    height: 250px;
    font-size: 25px;
    padding: 20px;
}
.project-carousel{
    height: 450px;
   
}

nav {
    display: flex; 
    justify-content: space-between;
    
    
}

 ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 500px;
    font-size: 20px;
   
}


li {
 padding: 15px;
 color: antiquewhite;
 list-style-type: none; 
}
a {
    color: antiquewhite;
    text-decoration: none; 
}
a:hover{
    text-decoration: underline;
}

h1 {
    font-size: 70px;
    
}

.my-name{
    margin-left: 40px;
    margin-bottom: 100px;
    align-items: center;
    
}
.button{
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 25px;
    background-color: lavender;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    color:black;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* #slideUp{
    display:block;
} */
.my-name-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.button:hover{
    background-color: rgb(169, 169, 235);
    text-decoration: underline;
}

.bottom{
    display: absolute;
    position: fixed;
    width:100%;
    bottom:0;
    height: 50px;
    text-align: center;
    
}

.logo{
    height: 40px;
    text-align: center;
    
}
#ig{
    height: 50px;
}
.social-links{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    
}


.skills{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
/* .skills-list{
    display: flex;
    flex-direction: column;
} */
.dev-skills{
    font-size: 30px;
    border-bottom: 1px solid black; 
}



.contact{
    font-size:40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.email{
    width: 200px;
    margin-left: 45%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#email a{
    color: black;
}
.socials{
    display:none;
    margin-left: 27%;
    margin-top: 30px;
}
#soc{
    font-size: 40px;
}
.work{
    font-size: 40px;
    height:600px;
}



.myphoto {
    /* display: flex; */
    width: 300px;
    border-radius: 150px;
    margin: 20px 80px 0 0;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
 .project-box {
     width: 100%;
     display: flex;
     height: 100px;
     box-shadow: 5px 5px  10px lightgray;
     color: white;
     font-size: 20px;
     justify-content: center
     
 }
 .my-work{
     display: flex;
     flex-direction: column;
     text-align: center;
 }
 #pj1 {
     background-image: url('background/milad-fakurian-iLHDO19h0ng-unsplash.jpg');
     opacity: 0.8;
 }
 #pj2{
     background-image: url('background/aedrian-0uxZheDn8Nc-unsplash.jpg');
     opacity: 0.8;
 }
 #pj3{
     background-image: url('background/pawel-czerwinski-BPrk2cOoCq8-unsplash.jpg');
     opacity: 0.8;
 }
 #pj4{
     background-image: url('background/nikolay-trebukhin-uFnaLg3gC8c-unsplash.jpg');
     opacity: 0.8;
 }
 #pj5{
     background-image: url('background/pavor-T6kZsf30NW0-unsplash.jpg');
     opacity: 0.8;
 }
 



 .resume{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.resume-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 600px;
    
} 

.resume-text{
    /* background-color: rgb(0,0,0,0.5); */
    color: antiquewhite;
    font-size: 25px;
}
section.education{
    height: 430px;
    box-shadow: 5px 5px  5px lightblue;
}
.ed, .wo{
    border-bottom: 1px solid black;
}
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    margin: 0 200px 0 200px;
    
    
}
.img{
    width: 80%;
    height: 300px;
    margin: 20px;
    box-shadow: 5px 5px  5px lightblue;
    border-radius: 10px;
}
.carousel img{
    display: none;
}

.carousel img:first-of-type{
    display: block;
}
 #prev{
     float: left;
     cursor: pointer;
     font-size: 30px;
     margin: 150px 0 0 150px;
     
 }
 #next{
    float: right;
    cursor: pointer;
    font-size: 30px;
    margin: -150px 150px 0 0;
   
 }

h2{
    text-align: center;
}
#social{
    
    margin-left: 40%;
    margin-top: 50px;
   
}

.reach{
    font-size: 50px;
    box-shadow: 5px 5px  5px lightblue;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-around;
    
}

/* .foot{
    background-color: rgb(0,0,0,0.3);
    font-size: 15px;
    width: 100%;
    height: 30px;
    text-align: center;
    bottom: 0;
    position: absolute;
}
.footR{
    background-color: rgb(0,0,0,0.3);
    font-size: 15px;
    width: 100%;
    height: 30px;
    text-align: center;
    bottom: 0;
    position: relative;
} */

select{
    outline: none;
    background-color: lavender;
    border: 0;
    font-family: 'Merriweather', serif;
    font-size: 23px;
}