body{
    background-color: whitesmoke;
    /* background-image: url('https://i.imgur.com/P9viH2Q.jpg?3'); */
    font-family: 'Merriweather', serif;
    margin: 0;
    width: 100%
    
}
.first-half {
    
    height: 500px;
    background-image: url('https://i.imgur.com/P9viH2Q.jpg?3');
    font-size: 40px;
}
.second-half{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 450px;
    
}
.project-carousel{
    height: 450px;
   
}
nav {
    display: flex; 
    justify-content: space-between;
    
    
}

 ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 500px;
    font-size: 20px;
   
}
li {
 padding: 15px;
 
  
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none; 
}

h1 {
    font-size: 70px;
    
}

.my-name{
    margin-left: 40px;
    margin-bottom: 100px;
    align-items: center;
    
}
.slideDown, .slideUp{
    width: 200px;
    height: 40px;
    font-size: 25px;
    background-color: lavender;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    
}
.my-name-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.button:hover{
    background-color: rgb(169, 169, 235);
}

.bottom{
    display: absolute;
    position: fixed;
    width:100%;
    bottom:0;
    height: 50px;
    text-align: center;
    
}

.logo{
    height: 40px;
    text-align: center;
    
}
#ig{
    height: 50px;
}
.social-links{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    
}

/* .about-me {
    height: 500px;
    font-size: 40px;;
}
.about-me-bottom{
    height:450px;
    background-image: url('https://i.imgur.com/P9viH2Q.jpg?3');
} */
.resume{
    height: 500px;
    font-size: 40px;;  
}
.resume-bottom{
    height:450px;
    background-image: url('https://i.imgur.com/P9viH2Q.jpg?3');
}

.contact{
    font-size:40px;
    height: 300px;
}
.contact-bottom{
    height:650px;
    background-image: url('https://i.imgur.com/P9viH2Q.jpg?3');
}

.work{
    font-size: 40px;
    height:600px;
}

.work-bottom{
    height:300px;
    background-image: url('https://i.imgur.com/P9viH2Q.jpg?3')
}

.myphoto {
    width: 300px;
    border-radius: 150px;
    
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
 .project-box {
     width: 100%;
     display: flex;
     height: 200px;
     box-shadow: 5px 5px  10px lightgray;
     color: white;
     font-size: 20px;
     
 }
 .my-work{
     display: flex;
     flex-direction: column;
     text-align: center;
 }
 #pj1 {
     background-image: url('background/milad-fakurian-iLHDO19h0ng-unsplash.jpg');
     opacity: 0.8;
 }
 #pj2{
     background-image: url('background/aedrian-0uxZheDn8Nc-unsplash.jpg');
     opacity: 0.8;
 }
 #pj3{
     background-image: url('background/pawel-czerwinski-BPrk2cOoCq8-unsplash.jpg');
     opacity: 0.8;
 }
 #pj4{
     background-image: url('background/nikolay-trebukhin-uFnaLg3gC8c-unsplash.jpg');
     opacity: 0.8;
 }
 #pj5{
     background-image: url('background/pavor-T6kZsf30NW0-unsplash.jpg');
     opacity: 0.8;
 }
 .project-one{
     width: 100px;
 }


 .resume{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.resume-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.resume-text{
    background-color: rgb(0,0,0,0.5);
    width: 500px;
    height:600px;
    color: white;
    font-size: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact-box{
    width: 500px;
    height:500px;
    font-size: 30px;
}
.message{
    width: 500px;
    height: 200px;
    padding: 2px;
    border: 2px
}
.subject{
    width: 500px;
    height: 20px;
    padding: 2px;
    border: 2px
}
input[type=text] {
    width: 250px;
    height: 20px;
    padding: 2px;
    border:2px
}
.project-carousel{
    
    
}
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}
.img{
    width: 80%;
    height: 300px;
    ;
}
.carousel img{
    display: none;
}

.carousel img:first-of-type{
    display: block;
}
 #prev, #next{
     float: left;
     cursor: pointer;
     font-size: 30px;
     margin: 20px 0 20px 0;
 }
